<main class="sessions">
  <header>
    <h2 class="title"><%= @title %></h2>
    <%= link_to user_url(current_user) do %>
      <i class="fas fa-arrow-left nav__icon"></i>
    <% end %>
  </header>
  <div class="sessions__total">
    Total pomodoro count: <span><%= @total %></span>
  </div>
  <div class="sessions__list">
    <% @sessions.each do |s| %>
    <div class="sessions__list__item">
      <%= g_icon(s) %>
      <div class ="item__info">
        <p><%= s.name %></p>
        <strong class="amount"><%= s.amount %></strong>
        <span class="date"><%= s.created_at.strftime('%d %b %Y') %></span>
      </div>
    </div>
  <% end %>
  </div>
  <div class="new">
    <%= link_to "Add new", new_session_path, class: "new__session" %>
  </div>
</main>
