<header>
  <h2 class="title">Register study session</h2>
</header>

<%= form_with model: @session do |f| %>
  <ul>
    <% @session.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :amount, "Number of pomodoros" %><br>
    <%= f.number_field :amount, required: true, in: 1..10, step: 1 %>
  </p>
  <p>
    <%= f.label :group %><br>
    <%= select_tag(:group, options_for_select(@group_options)) %>
  </p>
  <%= f.submit "Save", disable_with: 'Saving...' %>
<% end %>

