<h2>Register study session</h2>

<%= form_with model: @session do |f| %>
  <ul>
    <% @session.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount, "Number of pomodoros" %><br>
    <%= number_field :amount, in: 1..20, step: 1 %>
  </p>
  <p>
    <%= f.label :group %>
    <%= f.text_field :group %>
  </p>
  <%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>

