<h2>Register study session</h2>
<%= form_with model: @session do |f| %>
  <%= f.label :name, "name" %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :amount, "amount" %><br>
  <%= number_field :amount, in: 1..20, step: 1 %><br><br>
  <%= f.label :group, "group" %><br>
  <%= f.text_field :group %><br><br>
  <%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>