<div>
  <%= image_tag(@group.icon, class: "group__thumbnail") %>
  <h2><%= @group.name %></h2>
</div>

<h3>Group transactions</h3>

<% @group.sessions.each do |s| %>
  <div>
    <h4><%= s.author.name %></h4>
    <p><%= s.name %></p>
    <strong><%= s.amount %></strong>
    <span><%= s.created_at.strftime('%d %b %Y') %></span>
  </div>
<% end %>