<%= form_with model: @user do |f| %>
  <header>
    <h1 class="title">Register</h1>
    <%= f.submit "Create user", disable_with: 'Submiting...' %>
  </header>
  <div>
    <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name %>
  </p>
  <div>
    <%= f.label :username, "Username:" %><br>
    <%= f.text_field :username %>
  </div>
  
<% end %>