<%= form_with model: @user do |f| %>
  <header>
    <h1 class="title">Register</h1>
    <%= link_to root_url do %>
      <i class="fas fa-arrow-left nav__icon"></i>
    <% end %>
    <%= f.submit "Create user", disable_with: 'Submiting...' %>
  </header>
  <div class="form__fields">
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
  
<% end %>