<section class="side_panel">
  <div class="profile">
    <%= image_tag("https://via.placeholder.com/100x100", class: "profile__thumbnail") %>
    <h1><%= current_user.name %></h1>
  </div>
  <ul>
      <li><i class="fas fa-folder-open"></i><%= link_to "All my sessions", sessions_path(type: "mysessions") %></li>
      <li><i class="fas fa-list-ul"></i><%= link_to "All my external sessions", sessions_path(type: "external") %></li>
      <li><i class="fas fa-object-group"></i><%= link_to "All groups", groups_path %></li>
      <li><i class="fas fa-sign-out-alt"></i><%= link_to "Log out", logout_path %></li>
  </ul>
</section>
